{
    "swagger": "2.0",
    "info": {
        "title": "Joysec Web API",
        "description": "君秘Web端API接口文档",
        "version": "1.0.0"
    },
    "host": "api.joysec.com",
    "schemes": [
        "https"
    ],
    "basePath": "/web/v1",
    "produces": [
        "application/json"
    ],
    "consumes": [
        "multipart/form-data"
    ],
    "paths": {
        "/login/register": {
            "post": {
                "summary": "手机号注册",
                "description": "新用户手机号注册.\n",
                "parameters": [
                    {
                        "name": "team_name",
                        "in": "formData",
                        "description": "团队名称.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "注册人名字.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "telephone",
                        "in": "formData",
                        "description": "注册人手机号码.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "密码.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "confirm_pwd",
                        "in": "formData",
                        "description": "确认密码.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Login"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则注册成功　１密码与确认密码不同\n",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "注册成功跳转地址"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login/verifyCode": {
            "get": {
                "summary": "验证码获取",
                "description": "获取验证码\n",
                "parameters": [
                    {
                        "name": "telephone",
                        "in": "formData",
                        "description": "手机号码.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Login"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则获取验证码成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "integer",
                                    "description": "验证码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login/checkPhone": {
            "post": {
                "summary": "检测手机号",
                "description": "检测手机号是否已经注册，以及是否合法.\n",
                "parameters": [
                    {
                        "name": "telephone",
                        "in": "formData",
                        "description": "手机号.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Login"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功则返回一个json数据\n",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0则手机号合法正确 1手机已被注册 2手机号码非法"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "错误信息"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login/doLogin": {
            "post": {
                "summary": "用户登录",
                "description": "用户通过手机号登录账户.\n",
                "parameters": [
                    {
                        "name": "telephone",
                        "in": "formData",
                        "description": "手机号码.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "密码.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Login"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功登录 1账户不存在　2密码错误",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login/pwdReset": {
            "post": {
                "summary": "忘记密码",
                "description": "用户忘记密码，通过手机号重置密码.\n",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "密码.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "confirm_pwd",
                        "in": "formData",
                        "description": "密码确认.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Login"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功 1确认密码和密码不同 2密码非法",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/myInfo": {
            "get": {
                "summary": "获取个人信息",
                "description": "获取个人信息.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "nickname",
                        "in": "formData",
                        "description": "昵称.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "timezone",
                        "in": "formData",
                        "description": "时区.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功",
                        "schema": {
                            "$ref": "#/definitions/myInfo"
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "设置个人信息",
                "description": "设置个人信息.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "nickname",
                        "in": "formData",
                        "description": "昵称.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "timezone",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "description": "时区."
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码　0修改成功"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "空"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/inviteRegister": {
            "get": {
                "summary": "邀请注册",
                "description": "邀请用户注册.\n",
                "parameters": [
                    {
                        "name": "inviter_id",
                        "in": "formData",
                        "description": "邀请人id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true,
                        "description": "用户id."
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "object",
                                    "description": "邀请人链接和二维码",
                                    "properties": {
                                        "invite_url": {
                                            "type": "string",
                                            "description": "邀请人链接"
                                        },
                                        "ewm": {
                                            "type": "string",
                                            "description": "二维码地址"
                                        }
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{id}/calendars": {
            "get": {
                "summary": "日历月视图",
                "description": "日历月视图.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "团队id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功",
                        "schema": {
                            "$ref": "#/definitions/calendar"
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "新增日历",
                "description": "新增日历.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "团队id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "month",
                        "in": "query",
                        "description": "月份.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "日历名称.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "color_id",
                        "in": "query",
                        "description": "颜色id.",
                        "type": "integer",
                        "required": true
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0新增成功 1新增失败"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{team_id}/calendars/{id}": {
            "get": {
                "summary": "获取某个日历",
                "description": "获取该某个日历.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "团队id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "日历id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功",
                        "schema": {
                            "$ref": "#/definitions/calendar"
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "编辑某个日历",
                "description": "编辑某个日历.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "团队id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "日历id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "日历名称."
                    },
                    {
                        "name": "color_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "颜色id."
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "返回信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "删除某个日历",
                "description": "删除某个日历.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "description": "团队id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "日历id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则设置成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "返回信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{id}/schedules": {
            "get": {
                "summary": "获取日历日程",
                "description": "获取日历日程（某个月）.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "integer",
                        "description": "团队id."
                    },
                    {
                        "name": "month",
                        "in": "query",
                        "description": "月份.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0获取成功"
                                },
                                "data": {
                                    "type": "array",
                                    "description": "日历日程列表",
                                    "items": {
                                        "$ref": "#/definitions/schedule"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "添加日程",
                "description": "添加日程.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "integer",
                        "description": "团队id."
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "location",
                        "in": "formData",
                        "description": "地址.",
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "required": true,
                        "description": "类型　1日历 2项目.",
                        "type": "integer"
                    },
                    {
                        "name": "event_type",
                        "in": "formData",
                        "type": "integer",
                        "required": true,
                        "description": "事件类型 1全天事件."
                    },
                    {
                        "name": "start_at",
                        "in": "formData",
                        "description": "开始时间.",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "end_at",
                        "in": "formData",
                        "description": "结束时间.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "repeat",
                        "in": "formData",
                        "description": "是否重复.",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "remind",
                        "in": "formData",
                        "description": "提醒类型.",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "month_show",
                        "in": "formData",
                        "description": "是否在月视图中显示创建者.",
                        "type": "integer",
                        "required": true
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0添加成功"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{team_id}/schedules/{id}": {
            "get": {
                "summary": "获取某个日程",
                "description": "获取某个日程.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "type": "integer",
                        "description": "团队id."
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "integer",
                        "description": "日程id."
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0获取成功"
                                },
                                "data": {
                                    "$ref": "#/definitions/schedule"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "编辑某个日程",
                "description": "编辑某个日程.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "type": "integer",
                        "description": "团队id."
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "integer",
                        "description": "日程id."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "日历名称."
                    },
                    {
                        "name": "calendar_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "日历id."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "类型."
                    },
                    {
                        "name": "start_at",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "开始时间."
                    },
                    {
                        "name": "end_at",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "结束时间."
                    },
                    {
                        "name": "repeat",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "是否重复."
                    },
                    {
                        "name": "remind",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "提醒类型."
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "地点."
                    },
                    {
                        "name": "month_show",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "是否在月视图显示创建者."
                    },
                    {
                        "name": "members",
                        "in": "query",
                        "required": true,
                        "type": "array",
                        "collectionFormat": "multi",
                        "items": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0编辑成功"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "删除某个日程",
                "description": "删除某个日程.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "type": "integer",
                        "description": "团队id."
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "integer",
                        "description": "日程id."
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0删除成功"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/canlendars/{id}/updColor": {
            "post": {
                "summary": "改变日历颜色",
                "description": "改变日历颜色.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "日历id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "color_id",
                        "in": "formData",
                        "description": "颜色id.",
                        "type": "string"
                    }
                ],
                "tags": [
                    "Calendar"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0设置成功 1设置失败"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/secretary": {
            "get": {
                "summary": "秘书交互",
                "description": "秘书交互.\n",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Secretary"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "array",
                                    "description": "交互内容",
                                    "items": {
                                        "$ref": "#/definitions/secretary"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/secretary/search": {
            "post": {
                "summary": "搜索",
                "description": "秘书搜索.\n",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "keywords",
                        "in": "formData",
                        "required": true,
                        "description": "关键词.",
                        "type": "string"
                    }
                ],
                "tags": [
                    "Secretary"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "object",
                                    "description": "搜索结果"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/secretary/record": {
            "get": {
                "summary": "服务记录",
                "description": "秘书服务记录.\n",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Secretary"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "object",
                                    "description": "记录的结果集"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts": {
            "get": {
                "summary": "联系人列表",
                "description": "联系人列表.\n",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "group_id",
                        "in": "formData",
                        "required": false,
                        "description": "组id.",
                        "type": "integer"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "description": "第几页.",
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer",
                                            "description": "总共联系人数量"
                                        },
                                        "page": {
                                            "type": "integer",
                                            "description": "总页数"
                                        },
                                        "is_has": {
                                            "type": "boolean",
                                            "description": "是否还有下一页"
                                        },
                                        "list": {
                                            "type": "array",
                                            "description": "联系人列表信息",
                                            "items": {
                                                "$ref": "#/definitions/contact"
                                            }
                                        }
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "返回信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "新增联系人",
                "description": "新增联系人.\n",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "contacter_id",
                        "in": "formData",
                        "required": true,
                        "description": "联系人id.",
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0新增成功 新增失败1"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts/{id}": {
            "get": {
                "summary": "联系人详情",
                "description": "联系人详情.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "联系人id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "array",
                                    "description": "联系人列表信息",
                                    "items": {
                                        "$ref": "#/definitions/contact"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "删除联系人",
                "description": "删除联系人.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "联系人id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{id}/messages": {
            "get": {
                "summary": "获取通知",
                "description": "获取全部通知(可筛选未读消息).\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "团队id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "read",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "是否已读 1已读 2未读."
                    }
                ],
                "tags": [
                    "Message"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "object",
                                    "description": "消息列表",
                                    "properties": {
                                        "total": {
                                            "type": "integer",
                                            "description": "总共消息数量"
                                        },
                                        "page": {
                                            "type": "integer",
                                            "description": "总页数"
                                        },
                                        "is_has": {
                                            "type": "boolean",
                                            "description": "是否还有下一页"
                                        },
                                        "list": {
                                            "type": "array",
                                            "description": "消息列表信息",
                                            "items": {
                                                "$ref": "#/definitions/message"
                                            }
                                        }
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{team_id}/messages/{id}": {
            "get": {
                "summary": "通过id获取通知详情",
                "description": "获取通知详情.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "通知id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "team_id",
                        "in": "path",
                        "type": "integer",
                        "required": true,
                        "description": "团队id."
                    }
                ],
                "tags": [
                    "Message"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "$ref": "#/definitions/message"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "通过id删除通知",
                "description": "删除通知.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "通知id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "team_id",
                        "in": "path",
                        "type": "integer",
                        "required": true,
                        "description": "团队id."
                    }
                ],
                "tags": [
                    "Message"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0删除成功 1删除失败"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/updPhone": {
            "post": {
                "summary": "修改绑定的手机号",
                "description": "修改绑定的手机号码.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "telephone",
                        "in": "formData",
                        "description": "新手机号.",
                        "type": "integer"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/cancelWechat": {
            "post": {
                "summary": "解绑微信号",
                "description": "解绑微信号.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/updPwd": {
            "post": {
                "summary": "修改密码",
                "description": "修改密码.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "before_pwd",
                        "in": "formData",
                        "description": "原密码.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "新密码.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "confirm_pwd",
                        "in": "formData",
                        "description": "密码确认.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码 0修改成功 1原密码错误 2确认密码和新密码不同"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/sysSet": {
            "get": {
                "summary": "系统设置",
                "description": "系统设置.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "$ref": "#/definitions/sysSet"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helps": {
            "get": {
                "summary": "帮助",
                "description": "帮助.\n",
                "parameters": [
                    {
                        "name": "keywords",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "关键词."
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "$ref": "#/definitions/help"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helps/{id}": {
            "get": {
                "summary": "帮助",
                "description": "帮助.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "integer",
                        "description": "帮助id."
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "description": "帮助id"
                                        },
                                        "title": {
                                            "type": "string",
                                            "description": "帮助标题"
                                        },
                                        "content": {
                                            "type": "string",
                                            "description": "内容"
                                        }
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/loginOut": {
            "post": {
                "summary": "退出",
                "description": "退出.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true,
                        "description": "用户id."
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/tasks": {
            "get": {
                "summary": "我的任务",
                "description": "我的任务.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "project_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "项目id."
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "array",
                                    "description": "我的任务列表",
                                    "items": {
                                        "$ref": "#/definitions/task"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/documents": {
            "get": {
                "summary": "我的文档",
                "description": "｜ 我的文档.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "array",
                                    "description": "文档",
                                    "items": {
                                        "$ref": "#/definitions/document"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/events": {
            "get": {
                "summary": "我的动态",
                "description": "我的动态.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "array",
                                    "description": "动态",
                                    "items": {
                                        "$ref": "#/definitions/events"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/schedules": {
            "get": {
                "summary": "我的日程",
                "description": "我的日程.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "array",
                                    "description": "我的日程数组",
                                    "items": {
                                        "$ref": "#/definitions/schedule"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams": {
            "post": {
                "summary": "新建团队",
                "description": "｜ 新建团队.",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "团队名称.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "string",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{id}": {
            "get": {
                "summary": "团队信息",
                "description": "团队信息.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "用户id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "组id.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "$ref": "#/definitions/team"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "删除团队",
                "description": "删除团队.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "团队id.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "请求成功返回一个json数据，errcode为０则成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errcode": {
                                    "type": "integer",
                                    "description": "错误码"
                                },
                                "data": {
                                    "type": "integer",
                                    "description": "待定"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误信息描述"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "操作异常,执行失败.返回信息描述错误详情",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{id}/invite": {
            "post": {
                "summary": "邀请新成员",
                "description": "邀请新成员.\n",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "团队id.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "被邀请人的id.",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "inviter_id",
                        "in": "query",
                        "description": "邀请人id.",
                        "type": "integer",
                        "required": true
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
[...]
